* {
    margin: 0;
    box-sizing: border-box;
    border-radius: 12px;
}

video {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: gray;
}

.container-top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr auto;
    grid-gap: 30px;
    width: 1000px;
    padding: 30px;
    background-color: black;
}

.int-cont1 {
    grid-row: 1;
    grid-column: 1;
    background-color: aqua;
}

.int-cont2 {
    grid-row: 2;
    grid-column: 1;
    background-color: red;
}

.int-cont3 {
    grid-row: 1/span 2;
    grid-column: 2;
    background-color: blue;
}

.int-cont4 {
    grid-row: 3;
    grid-column: 1/span 2;
    background-color: violet;
}

.container-bottom {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 30px;
    width: 1000px;
    padding: 30px;
    background-color: black;
}

.bot-cont1 {
    grid-row: 1;
    grid-column: 1;
    background-color: aqua;
}

.bot-cont2 {
    grid-row: 2;
    grid-column: 1;
    background-color: red;
}

.bot-cont3 {
    grid-row: 1/span 2;
    grid-column: 2;
    background-color: blue;
}